.inputCommon {
  padding: 10px;
  width: 100%;
}

.inputCommon:active,
.inputCommon:focus {
   outline: none;
 }

.inputCommon::first-line {
   font-size: 16px;
}

.inputCommon:-webkit-autofill {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0 100px white inset;
  transition: background-color 5000s ease-in-out 0s;
}
